/*Any css you want to do for the home page do here*/
body {
  background-color: #800080;
  margin-left:0px;
  margin-top:0px;
}
#main
{
  width:80%;
  height:80%;
  background-color:white;
  margin-left:auto;
  margin-right:auto;
}

