/*Any css you want to do for the home page do here*/
body {
  background-color: #9900a6;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
}
#main
{
  width:80%;
  height:100%;
  background-color:white;
  margin-left:auto;
  margin-right:auto;
}
/*html*
{
	/*background:url(/TommysMenu.png) no-repeat center center;
	/*min-height:100%;
	/*background-size:cover;
}
*/
